
body {
    background-color: rgb(230, 215, 189);
    z-index: 1;
}

#header {
    color: white;
    font-family: Vivaldi;
    font-size: 3em;
    text-align: center;
    position: fixed; 
    
    margin: 5px;
    border: solid white 2px;
    background-color: rgb(230, 215, 189);
    z-index: 3;
}
#menu
{
 background: white;
 color: dimgrey;
 font-weight: italic; 
 font-size: 1.5em;
 padding: 5px; 
 margin: 10px;
 position: relative; 
 top: 90px; 
}

#sidebar {
    position: absolute;
    top: 300px;
    right: 78.5%;
    left: 5px;

    padding: 8px;

    margin: 5px;

}

#about-me {
    position: absolute;
    top: 140px;
    padding: 8px;
    margin: 5px;
    right: 78.5%;
    left: 5px;
    overflow: auto;

}

#blabla-about-me {
    font-style: italic;
    overflow: auto;
}

#c {
    position: absolute;
    top: 475px;
    padding: 8px;
    margin: 5px;
    left: 5px;
    right: 78.5%;
}

#first-post 
{

    position: absolute;
    top: 85px;
    padding: 8px;
    margin: 5px;

    left: 22%;

}

#steps-git
{
    top: 250px
}

#finished
{
    top: 431px
}
.posts
  {border-bottom: solid grey 1px;
    padding: 5px;
    position: absolute;
    padding: 8px;
    margin: 5px;
    left: 22%;
  }
.post-headers
{
    color: dimgrey;
    font-size: 1.5em;
}



.sidebar-headers {
    color: white;
}

.date {
    font-size: 0.7em;
    color: black;
    text-align: right;

}

.sidebar-all {
    border: solid white 2px;
    background-color: rgb(230, 215, 189);
    margin: 5px;
}

.menu-box {
    border: solid dimgrey 1px;
    padding: 2px; 
    margin:5px; 
    

}

#header-site
{
 color: white;
}

#about-mesite
{
 position: absolute; 
 top: 150px;
 left: 22%;
}
    
h2.p 
{
color: dimgrey;
}
